.add {
    border: 1px black solid; 
    border-radius: 15px;
    float: right;
    background-color: transparent;
    font-size: 20px;
    margin-bottom: 15px;
}

.add:hover {
    background-color: #F0F0F0;
}
