nav {
}

.header {
  background-color: #282c34;
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  padding-bottom: 5px; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.downloadDiv {
  float: right;
  margin-left: 20px;
}

.download {
  outline-style: none;
  border-style: none;
  border-radius: 5px;
  color: #282c34;
  background-color: white;
  width: fit-content;
}