 /* The navigation menu links */
ul{
    list-style: none!important;
 }

 .sidebar-item {
    padding: 6px 30px 6px 0px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
/* When you mouse over the navigation links, change their color */
.sidebar-item:hover {
   color: #f1f1f1;
}

.sidebar-item:active {
   color: #f1f1f1!important;
}
