nav {
  background-color: #282c34;
  width: 100%;
  position: absolute;
  top: 0;
  padding-bottom: 5px; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}